/*Top Meenu Code*/

#StaticMenu{
    width: 100%;
    position:fixed;
    top:0;
    border-style: none none solid none;
    border-bottom-width: 2px;
}

#WhiteDiv{
    background-color: white;
    padding-bottom: 20px;
}

header{
    background-color: #00a6d8;
    height: 90px;
    padding-top:1px;
    width: 99%;
}

.StaticHeader{
    background-color: #00a6d8;
    height: 90px;
    padding-top:1px;
    width: 99%;
    position: fixed;
    top:0;
}

nav{
    text-align: right;
    margin-top: 30px;
    margin-right: 10px;
}

.NavList{
    list-style-type: none;
}

.NavItem{
    display: inline-block;
}

.MenuLink{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16pt;
    display: inline-block;
}

.MenuLink:hover{
    color: white;
    text-decoration: underline;
}

#MenuPhoto{
    height: 80px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Title{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: left;
    font-size: 25pt;
    margin-top: 20px;
    font-weight: bold;
    color: #00d2ff;
}

.InvoiceTitle{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: left;
    font-size: 25pt;
    margin-top: 100px;
    font-weight: bold;
    color: #00d2ff;
}


.Action{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    width: 49%;
    text-align: right;
}

#shoppingCart{
    font-size: 40px;
    cursor: pointer;
}

.PageInformation{
    margin-top: 20px;
}

#PriceLabel{
    color: #00d2ff;
    font-size: 18pt;
}

/*Main classes*/

#main{
    background-color: #d1d1d1;
    margin-top: 250px;
}

#InvoiceMain{
    background-color: #d1d1d1;
    margin-top: 20px;
}

/*Item classes*/
h1{
    margin-top: 30px;
    margin-bottom: 5px;
    color: #00a6d8;
    text-align: center;
}
hr{
    margin-bottom: 20px;
    border: 1px solid #00a6d8;
    
}
.itemDiv{
    width: 80%;
    margin-bottom: 20px;
    border-style: solid;
    background-color: white;
    border-color: #00a6d8;
    border-width: 1px;
}

.itemCheckBox{
    visibility: hidden;
}

.itemLabel:hover{
    cursor: pointer;
}

.itemImage{
    height: 200px;
    width: 200px;
    vertical-align: middle;
}

.itemList{
    display: inline-block;
    width: 70%;
    font-size: 20pt;
    vertical-align: top;
    list-style-type: none;
    line-height: 50px;
    vertical-align: middle;
}

/*Invoice */
#DetailContainer{
    width: 80%;
    margin-bottom: 20px;
    border-style: solid;
    background-color: white;
    border-color: #00a6d8;
    border-width: 1px;
    display: inline-block;
    color: #00a6d8;
}

.DetailTitles{
    font-size: 18pt;
    font-weight: bold;
}

#ClientInfoDiv{
    margin-top: 20px;
}

.ClientInfoInnerDivs{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    color: #00a6d8;
}

#InvoiceNumberDiv{
    margin-bottom: 7px;
}

#DetailTotal{
    font-size: 30pt;
}

#TransactionInfoDiv{
    margin-top: 20px;
}